.Bottom {
    display: flex;
    flex-direction: column;
    padding: 18px 20px 20px;
    width: 390px;
    height: 168px;
    box-sizing: border-box;
    border-top: 2px solid #F4F4F4;
    background-color: #FCFCFD;
}

.Boolean_Bottom_Come{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 8px;
    
    font-weight: 400;
    color: #151516;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}