@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.background {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    width: 390px;
    height: 797px;
    background-color: #FCFCFD;
}

.background .headerComp {
    position: absolute;
}

.greetingMessage {
    display: flex;
    box-sizing: border-box;
    width: 390px;
    height: 228px;
    text-align: center;
    align-items: center;
    justify-content: center;
    white-space: pre-line;

    color: #151516; 
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.highlight {
    color: #358FFE; 
}

.background .columns {
    display: flex;
    flex-direction: row;
    gap: 12px;
    max-width: 100%;
    max-height: 100%;
}

.background .firstColumn {
    display: flex;
    flex-direction: column;
}

.background .rectangle {
    box-sizing: border-box;
    width: 170px;
    height: 136px;
    border-radius: 4px;
    background-color: #EAF0F7;
}

.firstColumn .rectangle:nth-child(1) {
    height: 123px;
    margin-bottom: 12px;
}

.firstColumn .rectangle:nth-child(2) {
    margin-bottom: 23px;
}

.firstColumn .rectangle:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding: 12px 10px 10px 12px;
    background: linear-gradient(101.66deg, #A8CEFF 0%, #D7E9FF 100%);
    margin-bottom: 12px;
}
.rectangle .txt_Feature {
    white-space: pre-line;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
    box-sizing: border-box;
    width: 146px;
    height: 60px;
}
.txt_Feature .titleTxt {
    color: #358FFE; 
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
.txt_Feature .subTxt {
    color: #151516; 
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
.img_Box {
    display: flex;
    justify-content: end;
}

.firstColumn .rectangle:nth-child(4) {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding: 12px 10px 10px 12px;
    background: linear-gradient(101.66deg, #A8CEFF 0%, #D7E9FF 100%);
    margin-bottom: 1px;

}

.firstColumn .rectangle:nth-child(5) {
    margin-bottom: 12px;
}

.firstColumn .rectangle:nth-child(6) {
    height: 70px;
}


.background .secondColumn {
    display: flex;
    flex-direction: column;
}

.secondColumn .rectangle:nth-child(1) {
    margin-top: 61px;
}

.secondColumn .rectangle:nth-child(2) {
    margin-top: 12px;
}

.secondColumn .rectangle:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding: 12px 4.35px 10px 12px;
    background: linear-gradient(101.66deg, #A8CEFF 0%, #D7E9FF 100%);
    margin-top: 23px;
}

.secondColumn .rectangle:nth-child(4) {
    margin-top: 1px;
}

.secondColumn .rectangle:nth-child(5) {
    margin-top: 12px;
}

.headerComp .logIn {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    gap: 12px;
    padding: 60px 20px;
    width: 390px;
    height: 206px;
    margin-top: 295px;
}
.googleLogIn {
    display: flex;
    gap: 12.74px;
    align-items: center;
    justify-content: center;

    width: 340px;
    height: 56px;
    box-sizing: border-box;
    padding: 20px 0px;
    border-radius: 8px;
    background-color: #FCFCFD;
    border: 2px solid #D7E9FF;

    color: #151516; 
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
.register {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-direction: row;

    color: #151516; 
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
.register .registerLink {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: auto;
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}