@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

#root {
  display: flex;
  max-width: 1280px;
  /*margin: 20px;*/
  text-align: center;
  align-items: center;
  justify-content: center;
}
