body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  min-width: 390px;
  padding-top: 47px;
  /*padding-top: env(safe-area-inset-top); 
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));*/
  box-sizing: border-box;
}

